.icon {
    background-color: var(--primary);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.dangerous {
    background-color: var(--dangerous);
}

.icon img {
    width: 15px;
}

.primary {
    background-color: var(--primary);
}

.secondary {
    background-color: var(--secondary);
}

.danger {
    background-color: var(--dangerous);
}

.small {
    padding: var(--small);
}

.large {
    padding: var(--large);
}

