.checkbox:checked {
  position: relative;
}

.checkbox:checked::after {
  content: '✓';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

input.checkbox {
  width: 20px;
  height: 20px ;
  border-radius: 50%;
  appearance: none; 
  -webkit-appearance: none;
  border: 2px solid #7a7a7a; 
  cursor: pointer;
  outline: none;
}

.icon img {
    width: 15px;
}

.primary:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.secondary:checked {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.danger:checked {
    background-color: var(--dangerous);
    border-color: var(--dangerous);
}

