.menu {
    width: 256px;
    position: absolute;
}

.todo_item_card {
    width: 500px;
}

.todo_item_input_edit {
    margin-bottom: 0;
    flex: 1;
}

.todo_item_form {
    flex: 1;
}

.todo_item_inputs {
    width: 100%;
}

.main {
    display: flex;
    align-items: center;
}

.registration_block {
    display: flex;
    align-items: center;
}

.registration_form {
    width: 500px;
}

.authorization_block {
    margin-right: 190px;
}

.link_registration {
    padding-top: 50%;
}

.link_authorization {
    padding-top: 10px;
}