.container {
    text-align: center;
}
.container input {
    height: 25px;
    border: 0 solid #000;
    border-bottom: 1px solid #DADDE2;
    margin-right: 15px;
}

.butt {
    background-color: #5292FE;
    color: #FFF;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.task {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin: 10px;
    border-radius: 5px;
    text-align-last: left;
    padding: 15px;
    margin: 10px auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.task-butts {
    display: flex;
    gap: 10px;
}

.icon {
    background-color: #5292FE;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.icon:last-child{
    background-color: #FF6559;
}

.icon img {
    width: 15px;
}
